.Image {
  z-index: 0;
}

.p {
  z-index: 1;
  position: relative;
}

.h1 {
  z-index: 1;
  position: relative;
  color: yellow;
  font-family: fantasy;
  font-size: 150px;
  margin-left: 300px;
  margin-top: 50px;
}

