
.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        display: flex;
        width: 350px;
        height: 400px;
        background-color: limegreen;
      }
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add some padding inside the card container */
      .container {
        padding: 2px 16px;
      }

      .img {
        width: 256px;
        height: 256px;
      }

      .button {
        padding: 0 1rem;
        margin: 2rem auto auto 0;
        background: blue;
        color: white;
      }

      .modal {
        width: clamp(50%, 700px, 90%);
        height: min(50%, 300px);
      
        margin: auto;
        padding: 0 2rem;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
      }
